@model IEnumerable<BeardBook.Models.ProfileViewModels.UploadedMediaViewModel>

@{
    // prevents StackOverflowException from recusrive calling
    Layout = null;
}

<br/>
<div>
    @foreach (var item in Model)
    {
        var thumbnailSrc = item.ThumbnailSrc
            ?? "../Content/Media/placeholder.png";

        <div class="media">
            <div class="media-left">
                <a target="_blank" href="@Url.Action("Index", "Files", new {id = item.FileId})">
                    <img src=@thumbnailSrc class="media-object" alt="Sample Image">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><small><i> Uploaded on @item.Created</i></small></h4>
                <p>
                    <a target="_blank" href="@Url.Action("Index", "Files", new {id = item.FileId})">view in new tab</a>
                </p>
            </div>
        </div>
    }
</div>