@{
    ViewBag.Title = "Password Reset Successful";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("Click here to Log in", "Login", "Account", null, new { id = "loginLink" })
    </p>
</div>
