@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" hidden>
            <li>
                <a href="javascript:Logout()">Logout</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", null, new { id = "loginLink" })</li>
    </ul>
}
