<div class="jumbotron">
    <h1>
        <img src="~/Content/Media/logo.png" width="100" height="100" alt="logo"/>
        BeardBook
    </h1>
    <p class="lead">The ultimate social network for hipsters.</p>
    <p>@Html.ActionLink("Register now", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>